@font-face {
  font-family: "iconfont"; /* Project id 3537587 */
  src: url('iconfont.woff2?t=1658381001749') format('woff2'),
       url('iconfont.woff?t=1658381001749') format('woff'),
       url('iconfont.ttf?t=1658381001749') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-kaoshiguanli:before {
  content: "\e601";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-kaoshi:before {
  content: "\e603";
}

