@font-face {
  font-family: "iconfont"; /* Project id 3568424 */
  src: url('iconfont.woff2?t=1663640704149') format('woff2'),
       url('iconfont.woff?t=1663640704149') format('woff'),
       url('iconfont.ttf?t=1663640704149') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e636";
}

.icon-left-indent-alt:before {
  content: "\e81c";
}

.icon-right-indent-alt:before {
  content: "\e82b";
}

.icon-yousuojin:before {
  content: "\e644";
}

.icon-zuosuojin:before {
  content: "\e647";
}

